<div class="add-page-content">
  <div class="container">
    <div>
      <h3 class="new-page-title">Create New Page</h3>
    </div>
    <hr>
    <form [formGroup]="addPageForm" (ngSubmit)="addPage()">
      <div class="form-group">
        <label class="page-title">Name</label>
        <input type="text" [formControlName]="'name'" class="form-control" placeholder="name">
      </div>
      <div class="form-group">
        <label class="page-content">Tag</label>
        <input type="text" [formControlName]="'tag'" class="form-control" placeholder="tag">
      </div>
      <div class="form-group">
        <label class="page-content">Needed</label>
        <input type="number" [formControlName]="'needed'" class="form-control" placeholder="Amount of money">
      </div>
      <div class="form-group">
        <label class="page-content">Ending Date</label>
        <input type="text" [formControlName]="'endingDate'" class="form-control" placeholder="endingDate">
      </div>
      <div class="form-group">
        <label class="page-content">Bonus</label>
        <input type="text" [formControlName]="'bonus'" class="form-control" placeholder="Bonus">
      </div>
      <div class="form-group">
        <button type="submit" class="sendBtn">Send</button>
      </div>
    </form >
  </div>
</div>
