.editForm{
  color: #24292e;
  text-decoration: none;
  float: right;
  padding-top: 20px;
}

.editButton,.deleteButton{
  border-radius: 5px ;
  border: #24292e;
  width: 50px;
  height: 50px;
  background-color: #6c3995;
}

.userName{
  padding-top: 20px;
}

.editText,.deleteText{
  color: #24292e;
  text-decoration: none;
}
