<div class="content">
  <div class="container">
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-8">
        <div class="row">
          <div class="userName col-md-2">
            <h1 class="name">{{user.userName}}</h1>
          </div>
          <div class="col-md-1">
            <form class="editForm">
              <button class="editButton"><a href="/edit/{{user.id}}" class="editText">Edit</a></button>
            </form>
          </div>
          <div class="col-md-1">
            <form class="editForm">
              <button class="deleteButton" (click)="deleteUser()">Delete</button>
            </form>
          </div>
          <div class="col-md-1">
            <form class="CreateAs">
              <button class="createAs" (click)="createAs(user.userName)">Create Page as</button>
            </form>
          </div>
        </div>
        <span>
          <hr>
            <p>Id: {{user.id}}</p>
            <p>Email: {{user.email}}</p>
            <p>Role: {{user.role}}</p>
          <hr>
        </span>
      </div>
    </div>

  </div>
</div>
